<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>
<div>
<%= @response %>
</div>
<div>
<%= link_to "Continue playing", new_path %>
</div>

<!-- <%= @tally_letters %>
<%= @parame_tally %>
<%= @tally_result %>
-->
